@media only screen and (max-width : 1200px) {
	.search-form{
		background-position: 0px, 0px;		
	}

	.search-input-container{
		width: 50%;
		top: 150px;		
	}

	.search-input-container input, select{
		margin-bottom: 10px;
	}
}

@media only screen and (max-width : 990px) {
	.search-input-container{		
		top: 100px;	
	}
	.table-wrapper{
		padding-right: 50px;
	}

}

@media only screen and (max-width : 900px) {
	.logo-wrapper{
		text-align: center;
	}

	.search-form{			
		background-position-x: -50px; 	
	}

	.banner span.know{
		display: none;		
	}

	.table-wrapper{
		padding-right: 100px;
	}
}

@media only screen and (max-width : 620px) {
	.search-form{
		background-position-x: -150px; 	
	}

	.item-result{
		width: 100%;
	}
	.dish-snapshot h3, th{
		font-size: 20px;
		padding: 0px;
		margin-top: 60px;
	}

	.close-results{
		top: 5px;
	}

	.logo-wrapper{
		text-align: center;
	}

	.table-wrapper{
		padding-right: 50px;
	}



	
}

@media only screen and (max-width : 520px) {
	#search-button{
			margin-left: 10px;
		}

	.logo{
		display: none;
	}
}

@media only screen and (max-width : 400px) {

	.banner{
		margin-left: 0px;
		font-size: 2.5em;
	}

	.search-form{		
		background-position-x: -250px; 		
	}

	.search-input-container{
		top: 80px;
		margin-left: 70px;
		
	}
}

	@media only screen and (max-width : 340px) {
	.search-input-container{
		
		margin-left: 40px;
		
	}
}
	

@media only screen and (max-width : 320px) {	
	.banner{
		font-size: 2em;
	}
}
	
@media only screen and (max-width : 295px) {
	.banner{
		display: none;
	}
}