
header{
	position: fixed;
	z-index: 10;
	width: 100%;
    height: 70px;
    top: 0px;
    background-color: #fff;
    border-bottom: 2px solid #ff8000;
}

header img{
	border: none;
}

.logo-wrapper{
	display: table;
    position: relative;
    width: 100%;
    left: 10px;   
}

.logo{
	width: 80px;
	padding-left: 30px;		
	margin-top: 10px;
	vertical-align: top;	
}

.banner{
  position: relative;
  display: inline-block;
  margin-left: 30px;
  font-size: 3em;
  font-family: 'Baloo', cursive;
  line-height: 70px;
  color: #ff8000;
  text-shadow: 1px 1px 1px #111;  
}

.banner-dish{
	cursor: pointer;
}

.know{
  text-shadow: none;
  font-family: monospace;
  font-size: 60%;
  margin-left: 20px;  
}

.table-wrapper{
	display: inline-block;
	position: relative;
	float: right;
	top: 10px;	
	padding-right: 200px;
	cursor: pointer;
}

.prev-list{
	position: absolute;
	z-index: 10;
	list-style: none;
	background-color: #fff;
	font-family: 'Roboto';
}

.prev-list td{
	display: block;
	border-bottom: 2px solid black;
}

#search{
	display: table-cell;
  	vertical-align: middle;
  	right: 0px;
}

.search-form-wrapper{	
	text-align: center;	
	position: relative;
}

.search-form{
  position: relative;
  width: 100%;
  height: 650px;
  background: url(../images/logol.jpg) no-repeat;
  background-size: cover;
  background-position: 0px -150px;
  border-bottom: 2px solid #ff8000;
}


.search-input-container{	
	position: relative;	
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 80px;
	top: 40%;	
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}

.search-p{
	font-family: 'Baloo';
	font-size: 154%;
	margin-bottom: 30px;
	text-shadow: 3px 3px 3px #000;
}

label{
	display: block;
	text-align: center;
	background-color: #444;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
}

input, select{
  height: 45px;
  width: 200px;
  font-size: 20px;
  text-align: center;
  border: none;
}

.label-search-name::after{
	content: ' *';
}

#search-button{
	display: block;
	border: none;
	background-color: #7F00FF;
	color: #fff;
	font-family: 'Baloo';
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

div[class*= "dish-search"] {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.view.results{
	margin-bottom: -80px;
}


.results-container{
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	
}

.results-wrapper{
	text-align: center;
	position: absolute;
	margin-top: 100px;
}


.results-wrapper article{	
	display: inline-block;
	padding: 50px;	
	margin-top: 30px;
}

.results-wrapper article img{
	border-radius: 50%;
	width: 200px;

}

#result-name{
	display: block;
	font-family: 'Fjalla One';
	font-size: 20px;
	background-color: #ff8000;
	color: #fff;
	height: 50px;
	line-height: 50px;
	margin-bottom: 20px;
	padding-right: 15px;
	padding-left: 15px;

}

.item-result{	
	display: none;
	position: relative;
	width: 70%;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	background-color: #ff8000;
	opacity: 0.95;
	color: #fff;
	font-size: 20px;	
}

.item-result table, .ingredients{
	display: inline-block;
	vertical-align: top;
	margin-left: auto;
	margin-left: auto;
	margin-right: auto;	
}

.item-result img{
	display: inline;
	border: 8px solid #fff;
}

li{
	list-style-position: inside;
	padding: 10px;
}

.dish-snapshot h3, th{
	text-shadow: 1px 1px 1px #222;
	padding: 10px;
	font-size: 30px;
}

.dish-snapshot, .min-vit-snapshot, .ing-snapshot{
	width: 100%;
	text-align: center;
	font-family: 'Roboto', arial, serif;
	overflow: scroll;
}
.min-vit-snapshot{
	width: 100%;
	text-align: center;
}

.item-img-label, .nutrition-snapshot, .min-vit-snapshot, .ing-snapshot{
	display: inline-block;	
	padding: 20px;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;

}

.label.item-info{
	margin-top: 50px;
}

.nutrition-snapshot{
	margin-top: 50px;
	margin-top: auto;
}

td{
	border: 1px solid #fff;
	padding: 10px;
}

.ingredients{
	text-align: left;
}

a{
	display: block;
	margin-top: 35px;
	font-weight: 800;
	color: #000;
}

.tb-snapshot.children{
	display: none;
}

.close-results{
	width: 40px;
	height: 40px;
	position: absolute;
	text-align: center;
	top: 10px;
	right: 10px;
	border: 3px solid #fff;
	padding: 5px;
	color: #red;
	background-color: #000;
	line-height: 25px;
	font-family: arial, serif;
	cursor: pointer;
	border-radius: 50%;
}

.no-results{
	display: none;
	text-align: center;
	margin-top: 100px;
	font-size: 30px;
	font-family: arial, serif;
}


.item-background-overlay{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(70, 38, 1, 0.9);
}

.pop-dishes{
	background-color: #ff8000;
	text-align: center;
	height: 400px;
	margin-left: auto;
	margin-right: auto;

}
.popular {
	
	width: 300px;
	height: 200px;
	padding-left: : 30px;
	margin-top: 30px;
	margin-left: 20px;
	
	background-image: url(../images/1.jpg);
	background-size: cover;
}
