.view.results{
	margin-bottom: -80px;
}

.search-form-wrapper{	
	text-align: center;
	position: relative;

}

.search-form-wrapper label{
	display: block;	
	text-align: center;
}



div[class*= "dish-search"] {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}


.results-container{
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
	
}

.results-wrapper{
	position: absolute;
	margin-bottom: -50px;
}


.results-wrapper article{
	
	display: inline-block;
	padding: 50px;	
	margin-top: 30px;
}

.results-wrapper article img{
	border-radius: 50%;
	width: 200px;

}

select{
	height: 50px;
	border: none;
}

#result-name{
	display: block;
	font-family: 'Fjalla One';
	font-size: 20px;
	background-color: #ff8000;
	color: #fff;
	height: 50px;
	line-height: 50px;
	margin-bottom: 20px;

}

.item-result{	
	display: none;
	position: relative;
	width: 70%;	
	margin-left: auto;
	margin-right: auto;
	background-color: #ff8000;
	opacity: 0.95;
	color: #fff;
	font-size: 20px;	
}

.item-result table, .ingredients{
	display: inline-block;
	vertical-align: top;
	margin-left: auto;
	margin-left: auto;
	margin-right: auto;	
}

li{
	list-style-position: inside;
	padding: 10px;
}

.item-result img{
	display: inline;
}

.dish-snapshot h3, th{
	text-shadow: 1px 1px 1px #222;
	padding: 10px;
	font-size: 30px;
}

.dish-snapshot, .min-vit-snapshot, .ing-snapshot{
	width: 100%;
	text-align: center;
	font-family: 'Roboto', arial, serif;
	overflow: scroll;
}
.min-vit-snapshot{
	width: 100%;
	text-align: center;
}

.item-img-label, .nutrition-snapshot, .min-vit-snapshot, .ing-snapshot{
	display: inline-block;	
	padding: 20px;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;

}

.label.item-info{
	margin-top: 50px;
}

.nutrition-snapshot{
	margin-top: 50px;
	margin-top: auto;
}

td{
	border: 1px solid #fff;
	padding: 10px;
}

.ingredients{
	text-align: left;
}

a{
	display: block;
	margin-top: 35px;
	font-weight: 800;
	color: #000;
}

img{
	border: 8px solid #fff;
}



.tb-snapshot.children{
	display: none;
}

.close-results{
	width: 40px;
	height: 40px;
	position: absolute;
	text-align: center;
	top: 10px;
	right: 10px;
	border: 3px solid #fff;
	padding: 5px;
	color: #red;
	background-color: #000;
	line-height: 25px;
	font-family: arial, serif;
	cursor: pointer;
	border-radius: 50%;
}

.no-results{
	display: none;
	text-align: center;
	margin-top: 100px;
	font-size: 30px;
	font-family: arial, serif;
}


.item-background-overlay{
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(70, 38, 1, 0.9);
}
